* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
}

header {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    box-shadow: 0 1px 3px 0;
}

img {
    display: block;
    width: 100%;

}

.logo-dropbox {
    width: 8%;
}

.main-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    margin: 40px;
    text-decoration: none;
    color: black;
}

.button {
    padding: 10px;
    background-color: #0061fe;
    color: white;
    border: none;
    cursor: pointer;
}

.button:hover {
    filter: brightness(1.4);
}

h1 {
    font-size: 50px;

}

#jumbotron {
    background-color: #b4d0e6;

}

#jumbotron .jumbo-info {
    display: flex;
    margin-left: 70px;
    margin-right: 70px;
}

#jumbotron .jumboleft {
    width: 40%;

}

#jumbotron .jumboright {
    width: 60%;
}

.jumbo-container {
    position: relative;
    top: 110px;
}

#jumbotron a {
    text-decoration: none;
    color: black;
}

#jumbotron i {
    font-size: 30px;
}

#business-plan {
    margin-top: 140px;
    margin-left: 150px;

}

h3 {
    font-size: 40px;
}

.business {
    display: flex;
    margin-top: 60px;
}

.button-color {
    padding: 10px;
    border-radius: 55%;
    border: 6px solid #0061fe;
}

.gray {
    padding: 10px;
    border-radius: 55%;
}

#business-plan p {
    margin-right: 50px;
    align-items: center;
}

.pricing-container {
    display: flex;
    margin-top: 60px;
    max-width: 1200px;
    width: 100%;
    margin-left: 150px;
}

.user {
    display: flex;

    align-items: center;
    margin-left: 50px;
    border-bottom: 1px solid black;

}

.pricing-card {
    background-color: white;
    border: 1px solid white;
    width: 30%;
    padding: 20px;
    box-shadow: 0 2px 4px black;
    display: flex;
    flex-direction: column;
}

.pricing-header {
    margin-bottom: 20px;
}

.pricing-header h2 {
    font-size: 24px;

}

.pricing-price {
    font-size: 20px;
    margin: 10px 0;
    font-weight: bold;
}


.btn:hover {
    background-color: #005bb5;
    filter: brightness(1.4);
}