* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
}

header {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    box-shadow: 0 1px 3px 0;
}

img {
    display: block;
    width: 100%;

}

.logo-dropbox {
    width: 8%;
}

.main-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    margin: 40px;
    text-decoration: none;
    color: black;
}

.button {
    padding: 10px;
    background-color: #0061fe;
    color: white;
    border: none;
    cursor: pointer;
}

.button:hover {
    filter: brightness(1.4);
}

h1 {
    font-size: 50px;

}

#jumbotron {
    background-color: #b4d0e6;

}

#jumbotron .jumbo-info {
    display: flex;
    margin-left: 70px;
    margin-right: 70px;
}

#jumbotron .jumboleft {
    width: 40%;

}

#jumbotron .jumboright {
    width: 60%;
}

.jumbo-container {
    position: relative;
    top: 110px;
}

#jumbotron a {
    text-decoration: none;
    color: black;
}

#jumbotron i {
    font-size: 30px;
}

#business-plan {
    margin-top: 140px;
    margin-left: 150px;

}

h3 {
    font-size: 40px;
}

.business {
    display: flex;
    margin-top: 60px;
}

.business-button {
    padding: 10px;
    border-radius: 50%;
}

#business-plan p {
    margin-right: 40px;
    align-items: center;
}